STANDARD_USER=standard_username
LOCKED_OUT_USER=locked_out_username
PROBLEM_USER=problem_username
PERFORMANCE_GLITCH_USER=performance_glitch_username
INVALID_USER=invalid_username
ERROR_USER=error_user
VISUAL_USER=visual_user
PASSWORD=password123